@page "/blog"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
    ViewData["Title"] = "Unilake.Www Blog";
}

<div class="mx-auto md:pt-32 pt-[2rem] pb-32" style="background-color:#121212;">
    @{

        <div class="flex flex-col sm:ml-14  ml-3">
            <span class="text-2xl text-orange-500 font-bold">Blog</span>
            <span>Description</span>
        </div>

        <div class="grid grid-cols-1 gap-1 my-8 place-content-center sm:px-14 px-3">
            <div class="w-full relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </span>
                <input type="text" placeholder="Search" class="pl-10 pr-4 py-2 w-full rounded-full bg-transparent border-[#6F6E73] border focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200">
            </div>
            <ul class="flex flex-wrap gap-2 mt-4">
                <li class="border border-[#F37441] text-white px-3 py-[1.5px] rounded-full">All</li>
                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Auth</li>
                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Catching / Offline-First</li>
                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Data Platform</li>
                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">DevTools</li>
                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Forreign Data Wrapper</li>
                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Low-Code</li>
                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Messaging</li>
            </ul>
        </div>

        var posts = Blog.GetPosts();

        @await Html.PartialAsync("BlogSlider")

        var gridPosts = posts.Skip(1).Take(6).ToList();
        if (gridPosts.Count > 0)
        {
            var index = 0;
            <section>
                <div class="mx-auto mt-12 grid gap-0 lg:max-w-none lg:grid-cols-3  md:px-5">
                    @foreach (var post in gridPosts)
                    {
                        index++;
                        var authorHref = Blog.GetAuthorLink(post.Author);
                        var applyBorder = index != 3 && index != 6 ? "border-r border-gray-700" : "";
                        <div class="flex flex-col @applyBorder mt-5 md:pl-10 md:pr-10 pr-3 pl-3">
                            <div class="flex-shrink-0">
                                <a href="@Blog.GetPostLink(post)">
                                    <img class="w-full rounded-lg border border-gray-700 object-cover" src="@Blog.GetSplashImage(post)" alt="">
                                </a>
                            </div>
                            <div class="mb:col-span-2 p-3 h-full flex flex-col justify-between">
                                <div class="flex flex-grow justify-between text-sm text-gray-500">
                                    <time datetime="@Blog.GetDateTimestamp(@post.Date)">@Blog.GetDateLabel(@post.Date)</time>
                                    <span aria-hidden="true">&middot;</span>
                                    <span>@Blog.MinutesToRead(@post.WordCount) min read</span>
                                </div>
                                <div class="mb-2">
                                    <p class="text-white">
                                        @post.Summary
                                        @post.Summary
                                        @post.Summary
                                    </p>
                                    <a class="flex mt-4 text-sm text-orange-500 align-baseline" href="about#">
                                        <span class="">Read the article</span>
                                        <svg class="w-4 h-4 text-orange-500 mt-1 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                        </svg>
                                    </a>
                                    <ul class="flex flex-wrap gap-2 mt-4">
                                        <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Tag 1</li>
                                        <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Tag 2</li>
                                        <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Tag 3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        }

        var remainingPosts = posts.Skip(7).Take(1).ToList();
        var remainingPost = remainingPosts.FirstOrDefault();
        if (remainingPost != null)
        {

            <section class="mt-24 flex justify-center hidden md:block">
                <div class="grid grid-cols-2 border-gray-600">
                    <div class="mb:col-span-2 pl-[60px] pr-[60px]">
                        <div class="sm:mx-0">
                            <a aria-label="@remainingPost.Title" href="@Blog.GetPostLink(remainingPost)">
                                <img src="@remainingPost.Image" alt="Cover Image for @remainingPost.Title" class="shadow-sm border rounded-lg hover:shadow-2xl border-gray-700 transition-shadow duration-200">
                            </a>
                        </div>
                    </div>
                    <div class="mb:col-span-2 h-full flex flex-col justify-between pl-[60px] pr-[60px]">
                        <div class="flex flex-grow justify-between text-sm text-gray-500">
                            <time datetime="@Blog.GetDateTimestamp(@remainingPost.Date)">@Blog.GetDateLabel(@remainingPost.Date)</time>
                            <span aria-hidden="true">&middot;</span>
                            <span>@Blog.MinutesToRead(@remainingPost.WordCount) min read</span>
                        </div>
                        <div class="mb-2">
                            <p class="text-white">
                                @remainingPost.Summary
                                @remainingPost.Summary
                                @remainingPost.Summary
                            </p>
                            <a class="flex mt-4 text-sm text-orange-500 align-baseline" href="about#">
                                <span class="">Read the article</span>
                                <svg class="w-4 h-4 text-orange-500 mt-1 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </a>
                            <ul class="flex flex-wrap gap-2 mt-4">
                                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Tag 1</li>
                                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Tag 2</li>
                                <li class="border border-[#6F6E73] text-white px-3 py-[1.5px] rounded-full">Tag 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        }

        if (gridPosts.Count > 0)
        {
            var index = 0;
            <section>
                <div class="mx-auto mt-12 grid gap-0 lg:max-w-none lg:grid-cols-3  md:px-5">
                    @foreach (var post in gridPosts)
                    {
                        index++;
                        var authorHref = Blog.GetAuthorLink(post.Author);
                        var applyBorder = index != 3 && index != 6 ? "border-r border-gray-700" : "";
                        <div class="flex flex-col @applyBorder mt-5 md:pl-10 md:pr-10 pr-3 pl-3">
                            <div class="flex-shrink-0">
                                <a href="@Blog.GetPostLink(post)">
                                    <img class="w-full rounded-lg border border-gray-700 object-cover" src="@Blog.GetSplashImage(post)" alt="">
                                </a>
                            </div>
                            <div class="mb:col-span-2 p-3 h-full flex flex-col justify-between">
                                <div class="flex flex-grow justify-between text-sm text-gray-500">
                                    <time datetime="@Blog.GetDateTimestamp(@post.Date)">@Blog.GetDateLabel(@post.Date)</time>
                                    <span aria-hidden="true">&middot;</span>
                                    <span>@Blog.MinutesToRead(@post.WordCount) min read</span>
                                </div>
                                <div class="mb-2">
                                    <p class="text-white">
                                        @post.Summary
                                        @post.Summary
                                        @post.Summary
                                    </p>
                                    <a class="flex mt-4 text-sm text-orange-500 align-baseline" href="about#">
                                        <span class="">Read the article</span>
                                        <svg class="w-4 h-4 text-orange-500 mt-1 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                        </svg>
                                    </a>
                                    <ul class="flex flex-wrap gap-2 mt-4">
                                        <li class="border border-[#6F6E73] text-white text-sm px-3 py-[1.5px] rounded-full">Tag 1</li>
                                        <li class="border border-[#6F6E73] text-white text-sm px-3 py-[1.5px] rounded-full">Tag 2</li>
                                        <li class="border border-[#6F6E73] text-white text-sm px-3 py-[1.5px] rounded-full">Tag 3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>

        }

        <div class="flex items-center justify-center my-20 space-x-4">

            <a href="#" class="px-3 py-1"><img src="./img/left-arrow.png" class="h-2" /></a>

            <a href="#" class="px-3 py-1 border rounded">1</a>
            <a href="#" class="px-3 py-1">2</a>
            <a href="#" class="px-3 py-1">3</a>
            <a href="#" class="px-3 py-1">4</a>
            <a href="#" class="px-3 py-1">5</a>

            <a href="#" class="px-3 py-1"><img src="./img/right-arrow.png" class="h-2" /></a>
        </div>

        <div class="grid grid-cols-1 gap-1 place-content-center">
            <h1 class="mx-auto text-4xl">Join Our Newsletter</h1>
            <h4 class="mx-auto">Be among the first ones to receive our latest news and offers</h4>
            <div class="w-full mx-auto rounded-lg overflow-hidden shadow-md py-6 grid grid-cols-3 gap-2 px-24 sm:px-36 md:px-60 lg:px-72 xl:px-96">
                <div class="col-span-2">
                    <input type="email" placeholder="Email" class="w-full border-[#6F6E73] rounded-md py-2 px-3 focus:outline-none focus:border-blue-500 bg-transparent">
                </div>
                <button class="bg-[#F37441] text-[#4F1B05] col-span-1 px-4 py-2 rounded-full">Subscribe</button>
            </div>

            <h1 class="mx-auto text-[#6F6E73]">You can easily unsubscribe at any time.</h1>
        </div>

    }
</div>
